html{
  background-color: #16DB93;
}
.saludo{
  background-color: #EFEA5A;
  display: flex;
  height: 10rem;
  width: 40rem;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}
.foto{
  height: 10rem;
}

.presentacion{
  display: flex;
}

.yo{
  background-color: #EFEA5A;
  display: flex;
  height: 6rem;
  width: 13rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 3rem;
}

.nombre{
  background-color: #F29E4C;
  display: flex;
  height: 8rem;
  width: 40rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 2rem;
}

.grupo{
  display: flex;
  justify-content: space-around;
}

.tag{
  background-color: #048BA8;
  display: flex;
  height: 5rem;
  width: 15rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
}

.final{
  background-color: #048BA8;
  display: flex;
  height: 5rem;
  width: 30rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.titulo{
  background-color: #A4036F;
  display: flex;
  height: 10rem;
  width: 50rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.text{
  background-color: #A4036F;
  display: flex;
  height: 10rem;
  width: 45rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.tag-grande{
  background-color: #048BA8;
  display: flex;
  height: 10rem;
  width: 30rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
}

.fibonacci{
  background-color: #F29E4C;
  display: flex;
  height: 10rem;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.factorial{
  background-color: #F29E4C;
  display: flex;
  height: 10rem;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
